In [16]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ganan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [19]:
import math

In [5]:
dataset = {
     "tfidf_1.txt":open("tfidf_1.txt").read(),
     #"tfidf_2.txt":open("tfidf_2.txt").read(),
     "tfidf_3.txt":open("tfidf_3.txt").read(),
     "tfidf_4.txt":open("tfidf_4.txt").read(),
     "tfidf_5.txt":open("tfidf_5.txt").read(),
     "tfidf_6.txt":open("tfidf_6.txt").read(),
     "tfidf_7.txt":open("tfidf_7.txt").read(),
     "tfidf_8.txt":open("tfidf_8.txt").read(),
     "tfidf_9.txt":open("tfidf_9.txt").read(),
     "tfidf_10.txt":open("tfidf_10.txt").read(),     
}

In [6]:
dataset.keys()

dict_keys(['tfidf_1.txt', 'tfidf_3.txt', 'tfidf_4.txt', 'tfidf_5.txt', 'tfidf_6.txt', 'tfidf_7.txt', 'tfidf_8.txt', 'tfidf_9.txt', 'tfidf_10.txt'])

In [ ]:
#displays file content 
dataset["tfidf_1.txt"]

In [17]:
def tf(dataset,file_name):
    text=dataset[file_name]
    tokens=nltk.word_tokenize(text)
    fd=nltk.FreqDist(tokens)
    return fd

In [18]:
tf(dataset,"tfidf_1.txt")

FreqDist({'the': 81, ',': 54, 'and': 46, 'of': 39, '.': 27, 'in': 21, 'war': 12, 'on': 11, 'to': 9, 'United': 9, ...})

In [23]:
def idf(dataset,term):
    count = [term in dataset[file_name] for file_name in dataset]
    inv_df = math.log(len(count)/sum(count))
    return inv_df

In [24]:
idf(dataset,"world")

0.5877866649021191

In [25]:
idf(dataset,"iphone")

ZeroDivisionError: division by zero

In [39]:
def tfidf(dataset,file_name,n):
    term_scores = {}
    file_fd=tf(dataset,file_name)
    for term in file_fd:
        if term.isalpha():
            idf_val=idf(dataset,term)
            tf_val=file_fd[term]
            tfidf_val=tf_val*idf_val
            term_scores[term]=round(tfidf_val,2)
    return sorted(term_scores.items(),key=lambda x:-x[1])[:n]

In [40]:
tfidf(dataset,"tfidf_1.txt",10)

[('Soviet', 19.78),
 ('Union', 17.58),
 ('Axis', 15.38),
 ('Pacific', 10.99),
 ('Japan', 10.53),
 ('Germany', 10.53),
 ('Allies', 9.02),
 ('invasion', 9.02),
 ('World', 8.79),
 ('Asia', 8.79)]

In [42]:
for file_name in dataset:
    print("{0}:\n {1} \n".format(file_name,tfidf(dataset,file_name,5)))

tfidf_1.txt:
 [('Soviet', 19.78), ('Union', 17.58), ('Axis', 15.38), ('Pacific', 10.99), ('Japan', 10.53)]

tfidf_3.txt:
 [('Napoleon', 30.08), ('French', 15.38), ('Coalition', 10.99), ('Prussia', 6.59), ('military', 5.49)]

tfidf_4.txt:
 [('Washington', 24.17), ('President', 8.79), ('Continental', 4.39), ('presided', 4.39), ('strong', 4.39)]

tfidf_5.txt:
 [('Newton', 21.97), ('scientists', 6.59), ('motion', 4.51), ('mathematician', 4.39), ('described', 4.39)]

tfidf_6.txt:
 [('Revolution', 19.78), ('French', 14.28), ('privileges', 6.59), ('central', 6.59), ('Napoleon', 6.02)]

tfidf_7.txt:
 [('Leonardo', 17.58), ('Vinci', 8.79), ('painting', 6.59), ('Piero', 4.39), ('architecture', 4.39)]

tfidf_8.txt:
 [('Titanic', 17.58), ('passengers', 10.99), ('maritime', 8.79), ('safety', 8.79), ('lifeboats', 8.79)]

tfidf_9.txt:
 [('Rockefeller', 21.97), ('business', 6.59), ('Standard', 6.59), ('Oil', 6.59), ('University', 4.51)]

tfidf_10.txt:
 [('Tesla', 13.18), ('electrical', 8.79), ('wireless', 6.02), ('mechanical', 4.39), ('alternating', 4.39)]